/* Code for fade in animation when opening home page */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    70% {
        opacity: 0.8;
    }

    100% {
        opacity: 1;
    }
 }
 /* Hides scrollbar not necessary, just a good precaution */
 body::-webkit-scrollbar{
    display: none;
  }
/* Code for nav bar */
.ul1 {
    width: 100%;
    border-bottom: 3px solid white;
}
ul li {
    margin: 0 5px;
    list-style: none;
    display: inline-block;
    padding: 30px 10px;
    font-size: 17px;
    text-transform: uppercase;
}
ul li a {
    color: white;
    text-decoration: none;
    padding: 15px;
    border: 5px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.9em;
    animation: fadeIn 2s;
    width: auto;
    transition: all 0.2s ease-in-out;
}
nav {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    background-color: rgb(243, 188, 214);
    justify-content: space-between;
    color: white;
    text-align: center;
    justify-content:space-between;
}
ul li a:hover {
    background-color: rgb(230, 155, 189);
}

/* end of code for navbar */

/* code for body and background */

body {
    margin: 0;
    background-color: rgb(255, 255, 255);
} 
#background {
    background-image: url(donuts.jpeg);
    background-size:cover;
}

/* Universal code */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

/* Code for home page main text in center of screen */

.bg-text {
    background-color: rgb(243, 188, 214);
    border: 3px solid #f1f1f1;
    border-color: rgb(255, 255, 255);
    position: relative;
    width: 55%;
    padding: 60px;
    left: 23vw;
    text-align: center;
    margin-top: 19%;
  }
  .maintext {
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 6vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    animation: fadeIn 2s;
  }

/* Previous codes optimized for smaller screen sizes. */

@media all and (max-width:768px) {
    .ul1 {
      width: 100%;
      border-bottom: 3px solid white;
  }
  nav {
    display: flex;
    flex-wrap: nowrap;
    flex: 1;
    background-color: rgb(243, 188, 214);
    color: white;
    text-align: center;
    height: 100%;
    position: relative;
    font-size: 1px;
  }
  nav ul li a {
    color: white;
    text-decoration: none;
    border: 5px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3vw;
    line-height: 0.5vh;
    display: flex;
    flex: 1;
    height: 100%;
    position: relative;
  }
  .maintext {
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 3vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    animation: fadeIn 2s;
  }
  .bg-text {
    background-color: rgb(243, 188, 214);
    border: 3px solid #f1f1f1;
    border-color: rgb(255, 255, 255);
    position: relative;
    width: 55%;
    padding: 60px;
    left: 23vw;
    text-align: center;
    margin-top: 25vh;
  }
  #background {
    background-image: url(donuts.jpeg);
    background-size:auto;
}
}
