@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    70% {
        opacity: 0.8;
    }

    100% {
        opacity: 1;
    }
 }
 body::-webkit-scrollbar{
    display: none;
  }
.ul1 {
    width: 100%;
    border-bottom: 3px solid white;
}
ul li {
    margin: 0 5px;
    list-style: none;
    display: inline-block;
    padding: 30px 10px;
    font-size: 17px;
    text-transform: uppercase;
}
ul li a {
    color: white;
    text-decoration: none;
    padding: 15px;
    border: 5px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.9em;
    animation: fadeIn 2s;
    width: auto;
}
nav {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    background-color: rgb(243, 188, 214);
    justify-content: space-between;
    color: white;
    text-align: center;
    justify-content:space-between;
}
ul li a:hover {
    background-color: rgb(230, 155, 189);
}
body {
    margin: 0;
    background-color: rgb(255, 255, 255);
} 
#background {
    background-image: url(donuts.jpeg);
    background-size:cover;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
.p2 {
    text-align: center;
    font-size: large;
    color: black;
    padding-top: 5%;
}
.bg-text {
    background-color: rgb(243, 188, 214);
    border: 3px solid #f1f1f1;
    border-color: rgb(255, 255, 255);
    position: relative;
    width: 55%;
    padding: 60px;
    left: 23vw;
    text-align: center;
    margin-top: 30vh;
  }
  .maintext {
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 3em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    animation: fadeIn 2s;
  }
  .bg-text2 {
    background-color: rgb(243, 188, 214); 
    background-color: rgba(243, 188, 214); 
    color: rgb(88, 72, 69);
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 60px;
    text-align: center;
    font-size: 1.9em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .bg-textsmall {
    background-color: rgb(243, 188, 214); 
    background-color: rgba(243, 188, 214); 
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 60px;
    text-align: center;
    font-size: 1.7em;
  }
.img-chef {
    width: 45%;
}
@media all and (max-width:768px) {
  .calculator tr {   
     display: table;  width:100%;   
     border: 5px;
     }               
  .calculator td {   
     display: table-row; 
    }       
    .bg-textpage25 {
      background-color: rgb(243, 188, 214);
      background-color: rgb(243, 188, 214);
      position: relative;
      z-index: 2;
      padding: 1.2em;
      text-align: center;
      max-height: 100%;
      width: auto;
    }
    .ul1 {
      width: 100%;
      border-bottom: 3px solid white;
  }
  nav {
    display: flex;
    flex-wrap: nowrap;
    flex: 1;
    background-color: rgb(243, 188, 214);
    color: white;
    text-align: center;
    height: 100%;
    position: relative;
    font-size: 1px;
  }
  nav ul li a {
    color: white;
    text-decoration: none;
    border: 5px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3vw;
    line-height: 0.5vh;
    display: flex;
    flex: 1;
    height: 100%;
    position: relative;
  }
}
