* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  -ms-overflow-style: none;  /* Hide scrollbar for IE and Edge */
  scrollbar-width: none;  /* Hide scrollbar for Firefox */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::-webkit-scrollbar { /* Hide scrollbar for Chrome */
  display: none;
  overflow: hidden;
}
body::-webkit-scrollbar{
  display: none;
  overflow: hidden;
}
main::-webkit-scrollbar{
  display: none;
  overflow: hidden;
}

/* Code for navbar on each page */

.ul1 {
    width: 100%;
    border-bottom: 2px solid white;
}
ul li {
    margin: 0 5px;
    list-style: none;
    display: inline-block;
    padding: 30px 10px;
    font-size: 17px;
    text-transform: uppercase;
}
ul li a {
    color: white;
    text-decoration: none;
    padding: 15px;
    border: 5px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.9em;
    flex: 1;
    overflow: hidden;
}
nav {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    background-color: rgb(243, 188, 214);
    justify-content: space-between;
    color: white;
    text-align: center;
    justify-content:space-between;
}
ul li a:hover {
    background-color: rgb(230, 155, 189);
}

/* End of code for the navbar */

body {
    margin: 0;
    background-color: rgb(255, 255, 255);
} 

/* Backgrounds and text to go on pages */

.bg-text {
  background-color: rgb(243, 188, 214);
  background-color: rgb(243, 188, 214);
  border: 3px solid #f1f1f1;
  border-color: rgb(255, 255, 255);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  padding: 60px;
  text-align: center;
  }
  .maintext {
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 3em;
    font-family:Verdana, Geneva, Tahoma, sans-serif
  }
  .bg-textsmall {
    background-color: rgb(243, 188, 214); 
    background-color: rgba(243, 188, 214); 
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 60px;
    text-align: center;
    font-size: 1.7em;
  }

  /* End of code for text */

  /* Scroll down arrow that is unused, however is functional */

  .scroll-down {
    position: absolute;
    left: 50%;
    bottom: 20px;
    display: block;
    text-align: center;
    font-size: 20px;
    z-index: 100;
    text-decoration: none;
    width: 30px;
    height: 30px;
    border-bottom: 4px solid #000000;
    border-right: 4px solid #000000;
    z-index: 9;
    left: 50%;
    -webkit-transform: translate(-50%, 0%) rotate(45deg);
    -moz-transform: translate(-50%, 0%) rotate(45deg);
    transform: translate(-50%, 0%) rotate(45deg);
    -webkit-animation: fade_move_down 4s ease-in-out infinite;
    -moz-animation:    fade_move_down 4s ease-in-out infinite;
    animation:         fade_move_down 4s ease-in-out infinite;
  }
  
  
  /*animated scroll arrow animation*/

  @-webkit-keyframes fade_move_down {
    0%   { -webkit-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
    50%  { opacity: 1;  }
    100% { -webkit-transform:translate(0,10px) rotate(45deg); opacity: 0; }
  }
  @-moz-keyframes fade_move_down {
    0%   { -moz-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
    50%  { opacity: 1;  }
    100% { -moz-transform:translate(0,10px) rotate(45deg); opacity: 0; }
  }
  @keyframes fade_move_down {
    0%   { transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
    50%  { opacity: 1;  }
    100% { transform:translate(0,10px) rotate(45deg); opacity: 0; }
  }
  .scroll-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    scroll-snap-type: y mandatory;
}

/* end of scroll arrow animation */

/* More background and text for pages */

.bg-textpage25 {
  background-color: rgb(243, 188, 214);
  background-color: rgb(243, 188, 214);
  position: relative;
  z-index: 2;
  top: 2.5vh;
  padding: 1.2em;
  text-align: center;
  max-height: 100%;
  width: auto;
}
.maintextsub {
  color: rgb(255, 255, 255);
  text-align: left;
  font-size: 1.1111vw;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  line-height: 25px;
  max-height: 100%;
  line-height: 150%;
}

/* End of background and text for pages */

/*Image for about us page */

.img-chef {
  width: 60vw;
  border: 3px solid rgb(255, 255, 255);
  margin-top: 15px;
}

/* Extra text Styling */

  .maintextsub {
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none;
    font-size: 1.75vw;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    line-height: 25px;
    max-height: 100%;
    font-weight: bolder;
  }

/* Email link */

.aemail {
  color: white;
}

/* Table used for reviews */

table tr td {
  border: 1.5px solid white;
  padding: 70px;
  background-color: rgb(237, 171, 202);
}

/* More code for Reviews table */

.reviewabove{
  color: white;
}

/* Table used for Suggestions */

.suggestiontable {
  text-align: left;
  color: white;
  width: 100vw;
}
.container {
  display: flex;
  flex-wrap: wrap;
}

/* Slightly edited code of previous code segments placed in a media query for responsiveness */

@media all and (max-width:768px) {
  .calculator tr {   
     display: table;  width:100%;   
     border: 5px;
     }               
  .calculator td {   
     display: table-row; 
    }       
    .bg-textpage25 {
      background-color: rgb(243, 188, 214);
      background-color: rgb(243, 188, 214);
      position: relative;
      z-index: 2;
      padding: 1.2em;
      text-align: center;
      max-height: 100%;
      width: auto;
    }
    .ul1 {
      width: 100%;
      border-bottom: 3px solid white;
  }
  nav {
    display: flex;
    flex-wrap: nowrap;
    flex: 1;
    background-color: rgb(243, 188, 214);
    color: white;
    text-align: center;
    height: 100%;
    position: relative;
    font-size: 1px;
  }
  nav ul li a {
    color: white;
    text-decoration: none;
    border: 5px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3vw;
    line-height: 0.5vh;
    display: flex;
    flex: 1;
    height: 100%;
    position: relative;
  }
}

/* Even more code for Reviews */

.reviews {
  color: white;
  width: 90vh;
  height: 3vh;
}

/* Styling for video of dough being neaded */

.bakingvideo {
  width: 60vw;
  border: 3px solid white;
}

/* Credit for video */

.credit {
  color: rgb(255, 255, 255);
}

/* Styling of the form on suggestions page */

.suggestionform {
  text-align: center;
  color: white;
}
.forminput {
  width: 50vw;
  font-size: 1.5em;
  background-color: rgb(237, 171, 202);
  color: rgb(255, 255, 255);
  border: 2px solid rgb(246, 246, 246);
  padding: 3px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}
.forminput1 {
  width: 50vw;
  font-size: 1.5em;
  height: 15vh;
}
.submitbutton {
  background-color: rgb(237, 171, 202);
  border: 3px solid white;
  border-radius: 5px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.submitbutton:hover {
  background-color: rgb(229, 144, 184);
  cursor: pointer;
}
.suggestionlabel {
  font-size: 1.4rem;
  font-weight: bold;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: block;
  margin-bottom: 1.1vh;
  margin-top: 1.1vh;
}
/* End of styling for form */

/* Code for contact us table */
.contacts {
  color: white;
  width: 25%;
  height: 47vh;
}
.bg-textpagecontact {
  background-color: rgb(243, 188, 214);
  background-color: rgb(243, 188, 214);
  position: relative;
  display: flex;
  top: 2.5vh;
  padding: 1.1vh;
  text-align: center;
  max-height: 100%;
}
.container1 {
  position: relative;
  text-align: center;
  color: white;
}

/* Bottom left text */
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

/* Top left text */
.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

/* Top right text */
.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

/* Bottom right text */
.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: bold;
  text-align: center;
  font-size: 3em;
  font-family:Verdana, Geneva, Tahoma, sans-serif
}
/* Code for the donut image on top of most pages */
.donutimage {
  height: 35vh;
  width: 100%;
  overflow: hidden;
  margin-top: 2vh;
}
